<card-filter-display>

  <y class="relative group xs:my-4 sm:m-4 xs:h-64 xs:w-full lg:h-64 lg:w-64 bg-charcoal-500 rounded-lg shadow-dreamy-lg transition duration-300 ease-in-out transform xs:hover:scale-100 sm:hover:scale-110 md:hover:scale-110 lg:hover:scale-110 cursor-pointer select-none">

    <img class="{ props.filter } xs:h-64 xs:w-full sm:h-56 md:h-56 md:w-56 lg:h-64 lg:w-full object-cover object-center overflow-hidden border-4 border-charcoal-600 hover:border-gray-100 rounded-lg"
         src="https://picsum.photos/400?random={ props.image }"
         alt="{ props.name }">

    <y class="absolute bottom-2 left-2 xs:px-2 xs:py-1 lg:px-5 py-1 font-default xs:text-sm sm:text-sm md:text-sm lg:text-sm text-center text-gray-100 group-hover:text-charcoal-100 bg-charcoal-600 group-hover:bg-gray-100 rounded-full shadow-dreamy-sm">
      { props.name }
    </y>

  </y>

</card-filter-display>
