<card-filter-display>

  <y class="relative group transition duration-300 ease-in-out transform xs:hover:scale-100 sm:hover:scale-110 md:hover:scale-110 lg:hover:scale-110 group sm:max-w-lg max-w-md xs:m-2 sm:m-4 bg-charcoal-500 border-4 border-charcoal-600 hover:border-gray-100 rounded-lg cursor-pointer">

    <img class="fx:filter:{ props.filter } adaptive xs:w-full sm:w-full md:w-56 lg:w-56 xs:h-32 sm:h-56 md:h-56 lg:h-56 rounded object-cover object-center overflow-hidden shadow-lg"
         src="assets/image/low/sample/silhouette-of-tree-with-spiral-lights-1101025.jpg"
         data-src="assets/image/high/sample/silhouette-of-tree-with-spiral-lights-1101025.jpg"
         alt="{ props.name }">

    <y class="absolute bottom-1 left-1 xs:px-2 xs:py-1 lg:px-5 py-1 group-hover:text-gray-300 font-default xs:text-xs sm:text-sm md:text-sm lg:text-sm text-gray-500 text-center bg-charcoal-600 xs:rounded lg:rounded-full shadow">
      { props.name }
    </y>

  </y>


  <script>
    export default {
      onMounted() {

        krunch.adaptiveImageLoader()

      }
    }
  </script>

</card-filter-display>