<global-header>

  <y class="xs:mt-10 lg:mt-3 p-10 flex justify-center items-center select-none">

    <y class="pr-2 text-md text-gray-300 font-bold uppercase font-default">
      Yogurt
    </y>

    <img class="adaptive h-10 w-10"
         src="assets/image/low/logo/512_icon_light.png"
         data-src="assets/image/high/logo/512_icon_light.png">

    <y class="pl-2 text-md text-gray-300 font-bold uppercase font-default">
      FX-Filter
    </y>

  </y>


  <script>
    export default {
      onMounted() {

        krunch.adaptiveImageLoader()

      }
    }
  </script>

</global-header>