<global-navigator>

  <y class="pb-4 font-serif flex items-center select-none">

    <misc-modes
      url="/"
      title="One"
      trigger="{ onClickA }"
      mode="{ state.a }"
    ></misc-modes>

    <misc-modes
      url="/#/02"
      title="Two"
      trigger="{ onClickB }"
      mode="{ state.b }"
    ></misc-modes>

    <misc-modes
      url="/#/03"
      title="Three"
      trigger="{ onClickC }"
      mode="{ state.c }"
    ></misc-modes>

  </y>


  <script>
    export default {
      state: {
        a: 'text-charcoal-100 bg-gray-100',
        b: 'bg-transparent',
        c: 'bg-transparent'
      },
      onClickA(e) {
        this.update({
          a: 'text-charcoal-100 bg-gray-100',
          b: 'bg-transparent',
          c: 'bg-transparent'
        })
      },
      onClickB(e) {
        this.update({
          a: 'bg-transparent',
          b: 'text-charcoal-100 bg-gray-100',
          c: 'bg-transparent'
        })
      },
      onClickC(e) {
        this.update({
          a: 'bg-transparent',
          b: 'bg-transparent',
          c: 'text-charcoal-100 bg-gray-100'
        })
      },
      onMounted() {

        // const base = 'http://localhost:3000'
        const base = 'https://fx-filter-previewer.netlify.app'
        const URL2 = base + '/#/02'
        const URL3 = base + '/#/03'

        if (window.location.href === URL2) {
          this.update({
            a: 'bg-transparent',
            b: 'text-charcoal-100 bg-gray-100',
            c: 'bg-transparent'
          })
        } else if (window.location.href === URL3) {
          this.update({
            a: 'bg-transparent',
            b: 'bg-transparent',
            c: 'text-charcoal-100 bg-gray-100'
          })
        }

      }

    }
  </script>

</global-navigator>
