<misc-app-install>

  <y class="hidden"
     id="requestAppInstall">

    <y class="relative py-1 flex flex-row justify-center items-center text-sm font-default font-semibold text-gray-300 hover:underline cursor-pointer select-none"
       id="requestAppTrigger">

      <y class="mr-2 w-4 h-4 fill-current text-gray-300 stroke-current stroke-1">
        <svg role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"><path d="M11.5 0c6.347 0 11.5 5.153 11.5 11.5s-5.153 11.5-11.5 11.5-11.5-5.153-11.5-11.5 5.153-11.5 11.5-11.5zm0 1c5.795 0 10.5 4.705 10.5 10.5s-4.705 10.5-10.5 10.5-10.5-4.705-10.5-10.5 4.705-10.5 10.5-10.5zm.5 10h6v1h-6v6h-1v-6h-6v-1h6v-6h1v6z"/></svg>
      </y>

      { props.title }

      <y class="group hover:block absolute top-0">
        <y class="mt-8 w-64 p-3 text-xs text-transparent group-hover:text-charcoal-100 font-normal bg-transparent group-hover:bg-gray-300 rounded transition duration-500 ease-in-out">

          { props.tooltip }

        </y>
      </y>

    </y>

  </y>


  <script>
    export default {
      onMounted() {

        // require id="requestAppInstall" as container
        // wrap with id="requestAppTrigger"
        krunch.requestAppInstall()

      }
    }
  </script>

</misc-app-install>