<misc-snippet>

  <y class="relative mx-4 xs:my-2 lg:my-0 flex justfiy-center items-center max-w-md h-32 bg-charcoal-500 border-4 border-charcoal-600 rounded-lg">

    <y class="px-4 pt-4 text-sm text-gray-500 font-sans depth-snug">
      { props.snippet }
    </y>

    <y class="absolute top-1 left-2">
      <y class="text-xs text-gray-500 font-semibold select-none">
        { props.topmessage }
      </y>
    </y>

    <y class="absolute top-1 right-1">
      <y class="px-1 text-xs text-charcoal-500 font-semibold bg-gray-500 rounded select-none">
        Snippet Code
      </y>
    </y>

  </y>

</misc-snippet>