<misc-usage>

  <y class="relative mx-2 xs:my-2 lg:my-4 flex justify-center items-center xs:max-w-full lg:max-w-xxs h-32 bg-charcoal-500 border-4 border-charcoal-600 rounded-lg select-none">

    <y class="px-4 pt-2 text-md font-serif depth-snug">
      { props.snippet }
    </y>

    <y class="absolute top-1 left-2">
      <y class="text-xs text-gray-500 font-semibold select-none">
        { props.topmessage }
      </y>
    </y>

    <y class="absolute top-1 right-1">
      <y class="px-1 text-xs text-charcoal-500 font-semibold bg-gray-500 rounded select-none">
        Usage
      </y>
    </y>

    <y class="absolute bottom-1 left-2">
      <y class="text-xs text-gray-500">
        { props.bottommessage }
      </y>
    </y>

  </y>


  <style>
    .w-xx {
      min-width: auto;
      max-width: 300px;
      width: 300px;
    }
  </style>

</misc-usage>
