<app>
  <router>

    <y class="absolute top-0 left-0 w-full h-screen bg-charcoal-100">
      <y class="flex flex-col justify-center items-center">

        <global-header></global-header>

        <y class="absolute top-2 right-2">
          <social-github></social-github>
        </y>

        <y class="flex flex-col justify-center items-center">

          <misc-snippet
            snippet="<link defer href='https://unpkg.com/fx-filter@1.0.0/dist/fx-filter.css' rel='stylesheet' rel='preload' as='style' media='all'>"
            topmessage="Press CTRL+A to copy"
          ></misc-snippet>

          <y class="flex xs:flex-col sm:flex-col md:flex-row lg:flex-row xl:flex-row justify-center items-center">

            <misc-usage
              snippet="<img class='fx:filter:lofi' src=' ... '>"
              topmessage="<img>"
              bottommessage="basic foreground overlay"
            ></misc-usage>

            <misc-usage
              snippet="<div class='fx:filter:lofi'>...</div>"
              topmessage="<div>"
              bottommessage="alternative foreground overlay"
            ></misc-usage>

            <misc-usage
              snippet="<figure class='fx:filter:lofi'><img src=' ... '></figure>"
              topmessage="<figure> + <img>"
              bottommessage="modern image overlay"
            ></misc-usage>

            <misc-usage
              snippet="<y class='fx:filter:lofi'><img src=' ... '></y>"
              topmessage="<y> yogurt style"
              bottommessage="yogurt image overlay"
            ></misc-usage>

          </y>
        </y>

        <y class="py-10 text-4xl text-gray-300 font-serif select-none">
          Examples
        </y>

        <global-navigator></global-navigator>

        <route path="/">

          <block-preview></block-preview>

        </route>

        <route path="/#/02">

          <block-preview></block-preview>

        </route>

        <route path="/#/03">

          <block-preview></block-preview>

        </route>

        <route path="/#/04">

          <block-preview></block-preview>

        </route>

        <global-footer></global-footer>

      </y>
    </y>

  </router>
</app>